# Preliminary Data Exploration
### UT Libraries Alexander Architectural Archives (AAA)

In [2]:
# Importing the necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('collections.csv')
df.head()

/var/folders/cy/_c4my0s16kx40fz9sqzmt8n00000gn/T/ipykernel_6105/4167879345.py:1: DtypeWarning: Columns (30,32,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('collections.csv')

,unique ID,coll code,Collection,Project name,Project number,Street address,City,County,State/Province,Country,...,Entry date:,Rev. date:,Pres. notes:,treatment completed A,treatment completed B,treatment completed C,treatment completed D,treatment completed E,Accession #,Holding institution:
0,9179,AA,"Ayres & Ayres, Architects records",A. F. Sayers residence.,NaN,Hollywood Blvd,San Antonio,Bexar,Texas,United States,...,NaN,Fri Feb 02 00:00:00 CST 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9180,AA,"Ayres & Ayres, Architects records",A.M. Russ residence.,NaN,Alamo Heights,San Antonio,Bexar,Texas,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9181,AA,"Ayres & Ayres, Architects records",Southwest Research Institute. Building 87 Vehi...,NaN,Culebra Rd,San Antonio,Bexar,Texas,United States,...,Mon Mar 20 00:00:00 CST 2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9182,AA,"Ayres & Ayres, Architects records",Alamo monument.,NaN,NaN,San Antonio,Bexar,Texas,United States,...,Wed Jun 02 00:00:00 CDT 2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9183,AA,"Ayres & Ayres, Architects records",Alamo National Bank building. Proposed.,NaN,154 Commerce St.,San Antonio,Bexar,Texas,United States,...,Wed Jun 02 00:00:00 CDT 2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
number_unique_collections = len(df['Collection'].unique())
print("Number of unique collections: " + str(number_unique_collections))

Number of unique collections: 130

In [22]:
collection_percentages = (df['Collection'].value_counts() / len(df)) * 100
sorted_collections = collection_percentages.sort_values(ascending=False)
top_5_collections = sorted_collections.head(5)
print("Top 5 collections by percent of total projects:")
print(top_5_collections)

Top 5 collections by percent of total projects:
Collection
University of Texas Buildings collection                                                   9.830718
University of Texas at Austin, School of Architecture Archives: Student Work collection    6.220123
Sanguinet, Staats, and Hedrick records                                                     5.927676
Roy L. Thomas collection                                                                   5.387773
Ayres & Ayres, Architects records                                                          4.195490
Name: count, dtype: float64

In [14]:
country_percentages = (df['Country'].value_counts() / len(df)) * 100
sorted_countries = country_percentages.sort_values(ascending=False)
top_5_countries = sorted_countries.head(5)
print("Top 5 countries by percent of total:")
print(top_5_countries)

Top 5 countries by percent of total:
Country
United States    80.490411
England           2.677015
Mexico            1.259772
Austria           0.359935
Germany           0.078736
Name: count, dtype: float64

In [20]:
columns_to_check = ['Street address', 'City', 'County', 'State/Province', 'Country']
rows_with_all_nans = df[df[columns_to_check].isna().sum(axis=1) == len(columns_to_check)]
num_rows_with_all_nans = len(rows_with_all_nans)
print("Number of rows with empty Location columns:", num_rows_with_all_nans)

Number of rows with empty Location columns: 2176